*{margin: 7px;
    padding: 3px;}

body{background-color: rgba(245, 246, 245, 0.627) !important}
header {
    background-color: #009688;
    padding: 10px;
    text-align: center;
    color: #fff;
}

nav {
    background-color: #004d40;
    padding: 10px;
    text-align: center;
}
nav a {
    color: #fff;
    text-decoration: none;
    padding: 10px 20px;
    margin: 0 5px;
    border-radius: 5px;
}
nav a:hover {
    background-color: #00796b;
}

section {display: flex;
    flex-direction:row;
    justify-content: space-around;
    flex-wrap: wrap;
    gap: 30px;
    background-color: rgb(11, 11, 11);
    border: 3px solid black;
}

div { margin: 13px;
    padding: 13px;
    display: flex;
    flex-wrap: wrap;
}

img {display: flex;
    justify-content: center;
    align-items: center;
    width: 150px;
    height: 200px;
}
    
p,.card{display: flex;
    justify-content: center;
    align-items: center;
    cursor: pointer;
}

.Cryptocurrency { border: 4px solid rgb(83, 19, 211);
}
.CRP {font-size: 18px;
}

.downgation {display: flex;
justify-content: center;
}
.downgation ul li{
    list-style: none;
}


.iconsContainer {display: flex;
justify-content: center;}

h5{text-align: center;
}

footer {
    background-color: #009688;
    color: white;
    text-align: center;
    padding: 10px 0;
    bottom: 0;
    width: 100%;
}

.discounted {text-decoration: line-through;
color: red;
}

.maps {display: flex;
    justify-content: center;
}
.BTC {background-color: gold;}

@media screen and (max-width:680px) 
{body{ background-color: black !important;}
.navline{background-color: rgb(0, 113, 206);}
.products {display: flex;
flex-flow: wrap column;
justify-content: center;
align-items: center;
}

.downgation {flex-flow: wrap column;
justify-content: space-between;
margin: 20px;
padding: 20px;}

footer {background-color: rgb(1, 144, 8);}
label {color: white;}
.CRP{color: rgb(22, 15, 221);
font-size: 17px;
font-weight: bold;
}


}